
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientLib.css @ categories='archives'}"/>

<sly data-sly-use.archiveModel="com.blog.page.core.models.ArchiveModel" />

<div class="archive-container">
    <h2>Archived Blogs</h2>

    =
    <ul data-sly-test="${archiveModel}">
        <sly data-sly-list.archive="${archiveModel.archivedBlogs}">
            <li>
                <a href="${archive.ArchiveLink @ context='uri'}" target="_blank">${archive.Month}</a>
            </li>
        </sly>
    </ul>
</div>